.avatar {
    border-radius: 50%;
    margin: 10px;
}

.header {
    margin-left: 20px;
}

.envelope-margin {
    margin-left: 0.5rem;
}

.no-underline {
    text-decoration: none !important;
    text-decoration: none;
}