.header {
    margin-top: 20px;
    margin-left: 20px;
}

.text-margin {
    margin-left: 0.5rem;
}

.no-underline {
    text-decoration: none !important;
    text-decoration: none;
}

.profile-table {
    table-layout: fixed;
    width: 100%;
}

.avatar {
    height: 200px;
    width: auto;
    display: block;
    border-radius: 50%;
}

.avatar-td {
    width: 240px;
    white-space: nowrap;
}

/* responsive mobile devices CSS */

@media (max-width: 576px) {
    .profile-table td {
        display: block;
        width: 100%;
    }

    .profile-table tr {
        display: block;
        width: 100%;
    }

    .avatar-td {
        display: block;
        text-align: center;
        width: 100%;
    }

    .avatar {
        margin: 0 auto;
    }
}