.header {
    margin-top: 20px;
    margin-left: 20px;
}

.text-margin {
    margin-left: 0.5rem;
}

.no-underline {
    text-decoration: none !important;
    text-decoration: none;
}

.profile-table {
    table-layout: fixed;
    width: 100%;
}

.avatar {
    height: 200px;
    width: auto;
    display: block;
    border-radius: 50%;
}

.avatar-td {
    width: 240px;
    white-space: nowrap;
}