.language-selector-switch.form-check,
.language-selector-switch.form-switch {
    padding-left: 0 !important;
}

.language-selector-switch {
    gap: 6px;
    justify-content: center;
}

.language-selector-label {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    height: 28px;
}

.language-selector-label.inactive {
    opacity: 0.4;
}

.language-selector-label.active {
    opacity: 1;
}

.language-selector-input {
    cursor: pointer;
    width: 44px;
    height: 26px;
    min-height: 26px;
    min-width: 44px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}