.license-item {
    transition: background 0.2s;
    border-radius: 8px;
}

.license-item:hover, .license-item:focus {
    background: #f5f5f5;
    text-decoration: none;
}

.license-icon img {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}

@media (max-width: 576px) {
    .license-heading {
        font-size: 1.4rem;
    }

    .license-font {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0;
        padding: 0;
    }

    .license-icon {
        padding-left: 5px;
    }

    .list-group-item {
        padding-left: 1rem !important;
    }
}

@media (max-width: 400px) {
    .license-heading {
        font-size: 1.3rem;
    }
}

@media (max-width: 376px) {
    .license-heading {
        font-size: 1.2rem;
    }
}

@media (max-width: 345px) {
    .license-heading {
        font-size: 1.1rem;
    }
}

@media (max-width: 320px) {
    .license-heading {
        font-size: 1.0rem;
    }
}