@media (max-width: 576px) {

    .license-heading {
        font-size: 1.2rem;
    }

    .license-font {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0px;
        padding: 0px;
    }

    .license-icon {
        padding-left: 5px;
    }

    .list-group-item {
        padding-left: 1rem !important;
    }

}

@media (max-width: 345px) {

    .license-heading {
        font-size: 1.1rem;
    }

}